img {
    width: 24px height: 24px
}

p {
    font-size: 24px color: black
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: red;
}

p {
    text-align: center;
    color: red;
}